<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div th:fragment="footer">
		
	<footer class="footer" style="margin-bottom:0px;padding-bottom:0;">
		<div class="row" style="background:#D0CFC4;margin-bottom:0px; padding-left:50px;">
			<div class="col-lg-12">
		      	<div class="col-lg-4">
	     			<h2><font color="white"><strong>CONTACT US</strong></font></h2>
	     			<p> <font size="2" color="white">
	     			お問合せは以下のコンタクトフォームよりお願いします。 メールが正しく届かない場合はこのドメインが受信拒否と認識されているか、 ドメイン指定受信を設定されている可能性があります。 以下のドメインを受信できるように設定してください。@tsushimajapan.com
	     			</font>
	     			</p>
		     			
			    	<form class="form-horizontal" action="#" th:action="@{/email/new}" th:object="${email}" method="post">
					  <fieldset>
					    <div class="form-group">
					      <label for="inputName" class="col-lg-3 control-label" style="text-align:left;"><font color="white">NAME</font></label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="inputName" name="name" th:field="*{name}" />
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-3 control-label" style="text-align:left;"><font color="white">EMAIL</font></label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="" th:field="*{email}"/>
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="textArea" class="col-lg-3 control-label" style="text-align:left;"><font color="white">MESSAGE</font></label>
					      <div class="col-lg-9">
					        <textarea class="form-control" rows="3" id="textArea" name="message" th:field="*{message}"></textarea>
					      </div>
					    </div>
					    <div class="form-group">
					      <div class="col-lg-9 col-lg-offset-3" style="display: table-cell;vertical-align: middle">
					        <button type="submit" class="btn btn-sm pull-right" value="Submit" style="background-color:#443c38;width:80px;"><font color="white">送信</font></button>
					      </div>
					    </div>
					  </fieldset>
					</form>
		      	</div>
		      	<div class="col-lg-4">
		      		<div class="img_vertical_center" style="margin-top:10px">
		      			<img src="../img/logo-bottom.png" alt="..." />
		      		</div>
		      	</div>
		      	<div class="col-lg-4">
		      		<div class="row">
		        	<div class="verticalLine" style="padding-top: 25px;padding-right: 50px; padding-bottom: 25px; padding-left: 25px;">
		       			<a href="/"><h4><strong><font color="white">サイトマッフ</font></strong></h4></a>
		       			<br />
		       			<a href="/about"><h4><strong><font color="white">特定商取引法に基づく表記</font></strong></h4></a>
		       			<br />
						<a href="/"><h4><strong><font color="white">利用規約 • 免責事項</font></strong></h4></a>
						<br />
						<a href="/"><h4><strong><font color="white">ソーシャルメディア</font></strong></h4></a>
					</div>
				</div>
		      	</div>
	     	</div>
    	</div>
	    <div class="row" style="background-color: #443c38;margin:0px;height:80px;">
	        <div style="height:80PX;display: table-cell;vertical-align:middle;padding-left:20px;" >      
	            <div class="col-lg-12">
	                <p><h4><font color="white"><strong>株式会社ツシマリバイブ @TSUSHIMA REVIVE.INC</strong></font></h4></p>
	                <p><h4><font color="white"><strong>Copyright©2015 株式会社ツシマリバイブ All Rights Reserved.</strong></font></h4></p>
	            </div>
	        </div>
	    </div>
    </footer>
         
    
 </div> 
</body>
</html>