<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <title>about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="../img/logo-icon.png"/>
   	<link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    
    <link rel="stylesheet" href="../css/tsushima.css"/>    
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link id="stylesheet" href="../css/bootstrap-datepicker.css" rel="stylesheet"/> 
  

	<style>
		.white {
		    background-color: #F4F4F4;
		}
		.verticalLine {
			margin-top:50px;
			margin-bottom:20px;
			margin-left:10px;
			margin-right:10px;
		    border-left: thin solid #fff;
		}
	</style>
</head>
<body>
<!-- <div th:replace="fragments/header :: header">&nbsp;</div> -->
<!-- <div class="navbar navbar-default navbar-fixed-top"> -->
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img src="../img/logo.png" class="non-img-responsive" alt="logo"/>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"></a>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
          	
          	<!-- <li th:if="${currentUser == null}"><a href="/login">Login</a></li> -->
          	<!-- <li th:if="${currentUser != null}"><a href="/logout" th:href="@{/logout}">logout</a></li>
        	
        	<li th:if="${currentUser != null}"><a th:href="@{/user/} + ${currentUser.id}">My Account</a></li>
        	 -->
          	<li><a href="../shoppingcart" target="_blank"><i class="fa fa-shopping-cart"></i>マイカート</a></li>
            <li><a href="../howto" target="_blank">ご利用方法</a></li>
            <li><a href="../question" target="_blank"><i class="fa fa-envelope-o"></i>Q&amp;A</a></li>
            <li><a href="../inquiry" target="_blank"><i class="fa fa-weixin"></i>問合せ</a></li>  
          </ul>

        </div>
      </div>
    </div>


<div class="white" id="show-intro">
      <div class="container" style="margin-bottom:20px;"> 
        <div class="page-header">
          <h2><strong>サービス概要</strong></h2>
        </div>   

		
		 <div class="show-searchers container0">
          <div class="row" id="row-searchers">   
             <!--  <div id="house-searcher" class="col-sm-12 col-md-12 col-lg-12">  
	               “ひとんち”とは対馬に訪れる旅行者や、民泊好きの方に対馬の民泊や体験を紹介する マッチングサービスです。ここでは民泊や体験の最新情報を一早く反映させ、 見積もりの算出や各オーナーへの連絡を行っています。 運営するのはつしまジャパン株式会社。対馬の地域活性のため、 このwebサイトを通してより多くの方に対馬の魅力を伝えることができれば幸いです。
              </div>
  -->
			<!-- <div class="row">
			  <div class="span4"></div>
			  <div class="span4"><img class="center-block" src="../img/about.png" height="25%" width="25%" /></div>
			  <div class="span4"></div>
			</div> -->
	
			<!-- <div class="row">
		      <div class="col-lg-12">
		        <h2 style="text-align: center;"><strong>“ひとんち”とは対馬に訪れる旅行者や、民泊好きの方に対馬の民泊や体験を紹介する</strong></h2>
		        <h2 style="text-align: center;"><strong>マッチングサービスです。ここでは民泊や体験の最新情報を一早く反映させ、</strong></h2>
		        <h2 style="text-align: center;"><strong>見積もりの算出や各オーナーへの連絡を行っています。</strong></h2> 
		        <h2 style="text-align: center;"><strong>運営するのはつしまジャパン株式会社。対馬の地域活性のため、</strong></h2>
		        <h2 style="text-align: center;"><strong>このwebサイトを通してより多くの方に対馬の魅力を伝えることができれば幸いです。</strong></h2>
		      </div>
		    </div>
		    
		    <div class="row">
		      <div class="col-lg-12">
		      	<a href="/howto"><h2 style="text-align: center;"><u>ご利用方法はこちらから</u></h2></a>
		      </div>
		    </div> -->
		    
		    <div class="row">
		    	<img src="../img/特定商取引法.png" alt="..." />
		    </div>

          </div>

		
	  </div>
	</div>
	
 
		<div class="row" style="background:#D0CFC4;margin-bottom:0px; padding-left:50px;">
			<div class="col-lg-12">
	        	<div class="col-lg-4">
	       			<h3><font color="white">CONTACT US</font></h3>
	       			<p> <font size="2" color="white">
	       			お問合せは以下のコンタクトフォームよりお願いします。 メールが正しく届かない場合はこのドメインが受信拒否と認識されているか、 ドメイン指定受信を設定されている可能性があります。 以下のドメインを受信できるように設定してください。@tsushimajapan.com
	       			</font>
	       			</p>
	       			
	       			<form class="form-horizontal" action="#" th:action="@{/email/new}" th:object="${email}" method="post">
					  <fieldset>
					    <div class="form-group">
					      <label for="inputName" class="col-lg-3 control-label" style="text-align:left;"><font color="white">NAME</font></label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="inputName" name="name" th:field="*{name}" />
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="inputEmail" class="col-lg-3 control-label" style="text-align:left;"><font color="white">EMAIL</font></label>
					      <div class="col-lg-9">
					        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="" th:field="*{email}"/>
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="textArea" class="col-lg-3 control-label" style="text-align:left;"><font color="white">MESSAGE</font></label>
					      <div class="col-lg-9">
					        <textarea class="form-control" rows="3" id="textArea" name="message" th:field="*{message}"></textarea>
					      </div>
					    </div>
					    <div class="form-group">
					      <div class="col-lg-9 col-lg-offset-3" style="display: table-cell;vertical-align: middle">
					        <button type="submit" class="btn btn-sm pull-right" value="Submit" style="background-color:#443c38;width:80px;"><font color="white">送信</font></button>
					      </div>
					    </div>
					  </fieldset>
					</form>
	        	</div>
	        	<div class="col-lg-4">
	        		<div class="img_vertical_center" style="margin-top:10px">
	        			<img src="./img/logo-bottom.png" alt="..." />
	        		</div>
	        	</div>
	        	<div class="col-lg-4">
	        		<div class="row">
			        	<div class="verticalLine" style="padding-top: 25px;padding-right: 50px; padding-bottom: 25px; padding-left: 25px;">

			       			<a href="/"><h4><strong><font color="white">サイトマッフ</font></strong></h4></a>
			       			<br />
			       			<a href="/about"><h4><strong><font color="white">会社概要</font></strong></h4></a>
			       			<br />
							<a href="/"><h4><strong><font color="white">利用規約 • 免責事項</font></strong></h4></a>
							<br />
							<a href="/"><h4><strong><font color="white">ソーシャルメディア</font></strong></h4></a>
						
						</div>
						<div>
			        		
						</div>
					</div>
	        	</div>
	       	
	       	</div>
        </div>
        

    	<footer class="footer" id="footer" style="background-color: #443c38;margin-top:0px;" >
            <div class="container">      
                <div class="col-lg-12">
                    <p>つしまジャパン株式会社 〒817-0023 長崎県対馬市厳原町田渕860-1 @TSUSHIMA JAPAN.INC</p>
                    <p>Copyright © 2014 つしまジャパン株式会社 All Rights Reserved.</p>
                </div>
            </div>
        </footer>

    
</div>


    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootswatch.js"></script>
    <script src="./js/myjs.js"></script>  
    <script src="./duima/bootstrap-datepicker.js"></script>    
    <script src="./duima/bootstrap-datepicker.ja.min.js"></script>    

		
	</body>
</html>