<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>lodge details</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../img/logo-icon.png" />
<link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../css/custom.min.css" />
<link rel="stylesheet" href="../css/tsushima.css" />
<link rel="stylesheet" href="../css/font-awesome.min.css" />
<link href="../../css/datepicker/jquery-ui.css" rel="stylesheet" />

<style>
div.ui-datepicker {
	font-size: 20px;
}
</style>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-1.11.0.min.js"></script>

<script src="../../js/datepicker/external/jquery/jquery.js"></script>
<script src="../../js/datepicker/jquery-ui.js"></script>
<script src="../../js/datepicker/datepicker-ja.js"></script>

<link href="../../css/datepicker/jquery-ui.css" rel="stylesheet" />

<!-- carousel -->
<style>
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 70%;
	margin: auto;
}
</style>

<!-- google map -->
<style type="text/css">
div#map_container {
	width: 100%;
	height: 350px;
}
</style>
<style>
div.ui-datepicker {
	font-size: 20px;
}
</style>
<style>
#square {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid #000;
	background: #fff;
}

#square-map {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid #000;
}

.vh-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
</style>
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" th:inline="javascript">
	  function loadMap(latitude, longitude) {
		/* var latlng = new google.maps.LatLng(38.93316170, -92.33202460); */
		var latlng = new google.maps.LatLng(latitude, longitude);
	    var myOptions = {
	      zoom: 16,
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("map_container"),myOptions);
		
	    var marker = new google.maps.Marker({
	      position: latlng, 
	      map: map, 
	      title:"You find it!"
	    }); 
	  
	  }
	</script>

<!-- load google map -->
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		<!-- pass the parameter from controller to html -->
		<!-- http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#script-inlining-javascript-and-dart -->
	    var latitude = [[${lodge.latitude}]];
	    var longitude = [[${lodge.longitude}]];
	    var unavailableDates2 = [[${closedDate}]];
	    loadMap(latitude, longitude);
	 });
	</script>


<script src="../../js/datepicker/external/jquery/jquery.js"></script>
<script src="../../js/datepicker/jquery-ui.js"></script>
<script src="../../js/datepicker/datepicker-ja.js"></script>

<!--  datepicker -->
<script th:inline="javascript">
		
		var unavailableDates = [[${closedDate}]];
		/* var unavailableDates = ["29-9-2015", "14-10-2015", "15-10-2015"]; */
		/* var unavailableDates = ["2015-9-29", "2015-10-14", "2015-10-16"]; */
		function unavailable(date) {
			
			
		    dmy = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + (date.getDate())).slice(-2);
		    if ($.inArray(dmy, unavailableDates) == -1) {
		        return [true, ""];
		    } else {
		        return [false, "", "Unavailable"];
		    }
		}
		
		$(function() {
		    $("#datepicker").datepicker({
		    	/* defaultDate: new Date("9-1-2015"), */
		    	minDate: -0, 
		    	maxDate: "+1Y +0M +0D",
		        dateFormat: 'yy-mm-dd',
		        /* dateFormat: 'dd MM yy', */
		        beforeShowDay: unavailable
		    });
		
		});
	</script>

<script>
		$(function() {
		  	$( "#datepickercheckin" ).datepicker({
		  		dateFormat: 'yy-mm-dd'
			});
		  	$( "#datepickercheckout" ).datepicker({
		  		dateFormat: 'yy-mm-dd'
			});
		});
	</script>

</head>
<body>

	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container" style="margin-top: 100px; margin-bottom: 40px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h2 id="tables" th:text="${lodge.name}">Lodge Detail</h2>
				</div>


				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
						<li data-target="#myCarousel" data-slide-to="4"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

						<div class="item active">
							<img th:src="@{/image/view(id=${defaultImage.id})}" />
						</div>
						<div class="item " th:each="gallery : ${gallerys}">
							<img th:src="@{/image/view(id=${gallery.id})}" />
						</div>

					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a> <a class="right carousel-control" href="#myCarousel" role="button"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="page-header"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="col-lg-3">
							<div class="row">
								<div class="col-lg-12">

									<div class="thumbnail">
										<img th:src="@{/image/view(id=${defaultLandlordPhoto.id})}" />
										<div class="caption1">
											<div class="row">
												<div class="col-lg-6">
													<h3>
														民泊: <strong th:text="${landlord.lodgeNumber}"></strong>
													</h3>
												</div>
												<div class="col-lg-6 pull-right">
													<h3>
														体験 : <strong th:text="${landlord.experienceNumber}"></strong>
													</h3>
												</div>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<h3>
								<strong th:text="${landlord.name}"></strong> - <strong
									th:text="${lodge.name}"></strong>
							</h3>
							<p th:text="${landlord.description}"></p>
						</div>
						<div class="col-lg-3">
							<div id="square-map">
								<div id="map_container" style="height: 250px;"></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12" th:object="${lodge}">

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">

								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>宿泊料金</strong>
												</h3>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-10">
									<h3 th:text="*{price}"></h3>
								</div>
							</div>
						</div>

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">
								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>食事</strong>
												</h3>
											</label>
										</div>
									</div>

								</div>
								<div class="col-lg-10">
									<h3 th:text="*{food}"></h3>
								</div>
							</div>
						</div>

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">
								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>客室</strong>
												</h3>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-10">
									<h3 th:text="*{capacity}"></h3>
								</div>
							</div>
						</div>

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">
								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>客室内設備</strong>
												</h3>
											</label>
										</div>
									</div>

								</div>
								<div class="col-lg-10">
									<h3 th:text="*{equipment}"></h3>
								</div>
							</div>
						</div>

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">
								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>アメニティ</strong>
												</h3>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-10">
									<h3 th:text="*{amenity}"></h3>
								</div>
							</div>
						</div>

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">
								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>アクセス</strong>
												</h3>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-10">
									<h3 th:text="*{traffic}"></h3>
								</div>
							</div>
						</div>

						<div class="row" style="padding: 5px;">
							<div class="col-lg-12">
								<div class="col-lg-2">
									<div id="square">
										<div class="vh-center">
											<label>
												<h3>
													<strong>送迎</strong>
												</h3>
											</label>
										</div>
									</div>
								</div>
								<div class="col-lg-10">
									<h3 th:text="*{pickup}"></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="page-header"></div>

				<div class="row">
					<div class="col-lg-8">

						<div class="row">
							<div class="col-lg-12">
								<div
									style="background-color: orange; margin-top: -14px; padding-left: 10px;">
									<h2>
										<font color="white">お見積もり</font>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-12 col-lg-12">
							<form class="form-search form-horizontal" action="#"
								th:action="@{/lodge/addtocart}" th:object="${cart}"
								method="post">
								<div class="row" style="margin-bottom: 10px;">
									<div class="col-sm-6 col-md-3">
										<div class="input-group">
											<input type="text" id="datepicker-my" class="form-control"
												name="checkin" size="30" placeholder="チェックイン" /> <span
												class="input-group-addon" id="btn" style="cursor: pointer;">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>

									<div class="col-sm-6 col-md-3">
										<div class="input-group">
											<input type="text" id="datepicker-checkout"
												class="form-control" name="checkout" size="30"
												placeholder="￼チェックアウ" /> <span class="input-group-addon"
												id="btn-checkout" style="cursor: pointer;"> <span
												class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>

									<div class="col-sm-6 col-md-2">
										<div>
											<select class="form-control" name="adults" id="select"
												th:field="*{adult}">
												<option th:value="1">大人</option>
												<option th:each="number : ${numbers}" th:value="${number}"
													th:text="${number}"></option>
											</select>
										</div>
									</div>

									<div class="col-sm-6 col-md-2">
										<div>
											<select class="form-control" id="select"
												th:field="*{teenager}">
												<option th:value="0">子供</option>
												<option th:each="number : ${numbers}" th:value="${number}"
													th:text="${number}"></option>
											</select>
										</div>
									</div>

									<div class="col-sm-6 col-md-2">
										<div>
											<select class="form-control" id="select" th:field="*{infant}">
												<option th:value="0">幼児</option>
												<option th:each="number : ${numbers}" th:value="${number}"
													th:text="${number}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="row" style="margin-bottom: 30px;">
									<div class="col-lg-12">
										<div>
											<select class="form-control" id="select" th:field="*{foodfk}">
												<option th:value="0">コース</option>
												<option th:each="food : ${foods}" th:value="${food.id}"
													th:text="${food.title} + ' 大人 ' + ${food.adult} + '円(中学生以上)' + ' お子様' + ${food.teenager} + '円(3才~小学生)'"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12 col-md-6 col-lg-3 pull-right">
										<button type="submit" class="btn btn-block"
											style="background-color: orange;">
											<strong><font color="white">カートへ</font></strong>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4">

						<div class="row">
							<div id="datepicker" class="input-group date inline_date"
								style="margin-left: 20px"></div>
						</div>
						<div class="row" style="margin: 5px">
							<div class="col-lg-6">
								<div class="col-lg-4">
									<div
										style="width: 20px; height: 20px; border: 1px solid #000; background: #D7D7D7"></div>
								</div>
								<div class="col-lg-8">予約可能</div>
							</div>
							<div class="col-lg-6">
								<div class="col-lg-4">
									<div
										style="width: 20px; height: 20px; border: 1px solid #000; background: #F7F7F7"></div>
								</div>
								<div class="col-lg-8">予約不可能</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div th:replace="fragments/footer :: footer">&nbsp;</div>

	<script>
	$('#btn').click(function(){
	    //alert('clcikec');
	    $(document).ready(function(){
	        $("#datepicker-my").datepicker({
	        	minDate: -0, 
		    	maxDate: "+1Y +0M +0D",
		        dateFormat: 'yy-mm-dd',
		        /* dateFormat: 'dd MM yy', */
		        beforeShowDay: unavailable
	        }).focus();
	    });
	});
	$('#btn-checkout').click(function(){
	    //alert('clcikec');
	    $(document).ready(function(){
	        $("#datepicker-checkout").datepicker({
	        	minDate: -0, 
		    	maxDate: "+1Y +0M +0D",
		        dateFormat: 'yy-mm-dd',
		        /* dateFormat: 'dd MM yy', */
		        beforeShowDay: unavailable
	        }).focus();
	    });
	});
	</script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/bootswatch.js"></script>
	<script src="../js/myjs.js"></script>

</body>
</html>