<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<title>how to</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../img/logo-icon.png" />
<link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../css/custom.min.css" />

<link rel="stylesheet" href="../css/tsushima.css" />
<link rel="stylesheet" href="../css/font-awesome.min.css" />
<link id="stylesheet" href="../css/bootstrap-datepicker.css"
	rel="stylesheet" />


<style>
.white {
	background-color: #F4F4F4;
}

.verticalLine {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-left: thin solid #fff;
}
</style>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="white" id="show-intro">
		<div class="container" style="margin-bottom: 20px;">
			<div class="page-header">
				<h2>
					<strong>ご利用方法</strong>
				</h2>
			</div>
			<div class="show-searchers container0">
				<div class="row" id="row-searchers">
					<div class="row">
						<div class="span4"></div>
						<div class="span4">
							<img class="center-block" src="../img/howto_1.png" height="100%"
								width="100%" />
						</div>
						<div class="span4"></div>
					</div>

					<div class="row">
						<div class="span4"></div>
						<div class="span4">
							<img class="center-block" src="../img/howto_2.png" height="100%"
								width="100%" />
						</div>
						<div class="span4"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- FOOTER -->
		<div th:replace="fragments/footer :: footer">&nbsp;</div>

	</div>

	<script src="../js/jquery-1.10.2.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/bootswatch.js"></script>
	<script src="../js/myjs.js"></script>


</body>
</html>