<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Landlord Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../img/logo-icon.png" />
<link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../css/custom.min.css" />
<link rel="stylesheet" href="../css/tsushima.css" />
<link rel="stylesheet" href="../css/font-awesome.min.css" />
<script src="../js/jquery-1.10.2.js"></script>
<style>
#footer {
	background-color: red;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	margin-bottom: 0px;
}

body {
	margin-bottom: 50px;
}
</style>
<script type="text/javascript">
	function updateLandlord(landlordId) {
		var form = $("#foodEatenForm-" + landlordId);
		var action = $("#action-" + landlordId);
		$(action).val("update");
		$(form).submit();
	}

	function deleteLandlord(landlordId) {
		if (confirm('Are you sure you want to delete this landlord entry?')) {
			var form = $("#foodEatenForm-" + landlordId);
			var action = $("#action-" + landlordId);
			$(action).val("delete");
			$(form).submit();
		}
	}
</script>
</head>
<body>
	<div th:replace="fragments/header-admin :: header-admin">&nbsp;</div>

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="tables">Landlord</h1>
					<div class="row">
						<div class="col-lg-12">
							<h4>
								<a href="/landlord/new/" class="pull-right">Create new
									landlord</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-striped table-hover ">
							<thead>
								<tr>
									<td>Landlord</td>
									<td>Description</td>
									<td>Location</td>
									<td>Action</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="landlord : ${landlords}">
									<form th:id="'foodEatenForm-' + ${landlord.id}"
										action="./update">
										<input type="hidden" name="id" th:value="${landlord.id}" /> <input
											type="hidden" th:id="'action-' + ${landlord.id}"
											name="action" value="update" />

										<td th:text="${landlord.name}"></td>
										<td th:text="${landlord.description}"></td>
										<td th:text="${landlord.location}"></td>
										<td><a href="#"
											th:onclick="'deleteLandlord(\'' + ${landlord.id} + '\');'">Delete</a>
											<!-- <a 
									th:href="@{./delete/(id=${landlord.id})}"
										>Delete landlord</a> --> <a href="#"
											th:onclick="'updateLandlord(\'' + ${landlord.id} + '\');'">Update</a>
										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER -->
	<div id="footer" th:replace="fragments/footer-admin :: footer-admin">&nbsp;</div>

	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/bootswatch.js"></script>
	<script src="../js/jquery-ui.js"></script>
	<script src="../js/myjs.js"></script>
</body>
</html>