<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lodge Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    </script>
    
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
		
	function updateLodge(lodgeId) {
	    var form = $("#foodEatenForm-" + lodgeId);
	    var action = $("#action-" + lodgeId);
	    $(action).val("update");
	    $(form).submit();
	}
	
	function deleteLodge(lodgeId) {
		if ( confirm('Are you sure you want to delete this lodge entry?')) {
			var form = $("#foodEatenForm-" + lodgeId);
	        var action = $("#action-" + lodgeId);
	        $(action).val("delete");
	        $(form).submit();
		}
	}
	</script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Hitonchi Tsushima</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Cerulean</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../yeti/">Yeti</a></li>
              </ul>
            </li> -->
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
            
            
          </ul>

          <ul class="nav navbar-nav navbar-right">
          	<li><a href="../cart/" target="_blank"><i class="fa fa-shopping-cart"></i>マイカート</a></li>
            <li><a href="../howto/" target="_blank">ご利用方法</a></li>
            <li><a href="../question/" target="_blank"><i class="fa fa-envelope-o"></i>Q&amp;A</a></li>
            <li><a href="../inquiry/" target="_blank"><i class="fa fa-weixin"></i>問合せ</a></li>  
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <!-- <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Yeti</h1>
            <p class="lead">A friendly foundation</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);">
                <img src="../assets/img/shopify.png" alt="Shopify" width="180" height="150" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);" />
              </a>
            </div>
          </div>
        </div>
      </div> -->
      
		<!-- Tables
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="tables">Lodge</h1>
              <div class="row">
              	<div class="col-lg-12">
              	<h4><a href="/lodge/new/" class="pull-right">Create new lodge</a></h4>
              	</div>
              </div>
            </div>

            <div class="bs-component">     
		        <div class="row">
		        	<div class="col-lg-12">
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<td>Lodge</td>
								<td>Description</td>
								<td>Location</td>
								<td>Action</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lodge : ${lodges}">
								<form th:id="'foodEatenForm-' + ${lodge.id}" action="./update">
					                    <input type="hidden" name="id" th:value="${lodge.id}"/>
					                    <input type="hidden" th:id="'action-' + ${lodge.id}" name="action" value="update"/>
					                    		
								<td th:text="${lodge.name}"></td>
								<td th:text="${lodge.description}"></td>
								<td th:text="${lodge.location}"></td>
								<td>
									<a href="#" th:onclick="'deleteLodge(\'' + ${lodge.id} + '\');'">Delete</a>
									<!-- <a 
									th:href="@{./delete/(id=${lodge.id})}"
										>Delete lodge</a> -->
								
				                    <a href="#" th:onclick="'updateLodge(\'' + ${lodge.id} + '\');'">Update</a>
				                </td>
								</form>
							</tr>
						</tbody>
					</table>
					</div>
				</div> <!-- row -->
		
		            </div><!-- /example -->
          </div>
        </div>
      </div>


	<div id="source-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Source Code</h4>
            </div>
            <div class="modal-body">
              <pre></pre>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="https://github.com/eclipsegst/lodge">GitHub</a></li>
              <li><a href="../help/#support">Support</a></li>
            </ul>
            <p>Made by <a href="" rel="nofollow">Zhaolong Zhong</a>. Contact him at <a href="https://github.com/eclipsegst/">Github</a></p>
            <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

          </div>
        </div>

      </footer>


    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/custom.js"></script>
  <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>
