<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   	<link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    
    <link rel="stylesheet" href="../css/tsushima.css"/>    
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link id="stylesheet" href="../css/bootstrap-datepicker.css" rel="stylesheet"/> 

<style type="text/css">
body {
    color: blue;
}
p {
	color:#000000;
}
p.white {
    color: #ffffff;
}
label {
	color:000000;
}

</style>
</head>
<body>
<!-- <div th:replace="fragments/header :: header">&nbsp;</div> -->
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img src="./img/logo.png" class="non-img-responsive" alt="logo"/>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"></a>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
          	
          	<li th:if="${currentUser == null}"><a href="/login">Login</a></li>
          	<li th:if="${currentUser != null}"><a href="/logout" th:href="@{/logout}">logout</a></li>
        	
        	<li th:if="${currentUser != null}"><a th:href="@{/user/} + ${currentUser.id}">My Account</a></li>
        	
          	<li><a href="../cart/" target="_blank"><i class="fa fa-shopping-cart"></i>マイカート</a></li>
            <li><a href="../howto/" target="_blank">ご利用方法</a></li>
            <li><a href="../question/" target="_blank"><i class="fa fa-envelope-o"></i>Q&amp;A</a></li>
            <li><a href="../inquiry/" target="_blank"><i class="fa fa-weixin"></i>問合せ</a></li>  
          </ul>

        </div>
      </div>
    </div>


<!-- <nav role="navigation">
    <ul>
        <li th:if="${currentUser != null}"><a href="/user/create" th:if="${#strings.replace(#strings.escapeXml(#strings.replace(currentUser.role,' ','')),'&amp;','%26')} == 'ADMIN'">Create a new user</a></li>
        <li th:if="${currentUser != null}"><a href="/users" th:if="${#strings.replace(#strings.escapeXml(#strings.replace(currentUser.role,' ','')),'&amp;','%26')} == 'ADMIN'">View all users</a></li>

    </ul>
    
    <p th:if="${currentUser != null}" th:text="${#strings.toLowerCase(currentUser.role)}"></p>
    <p th:text="${currentUser != null} ? ${currentUser.role}"></p>
    <div th:object="${currrentUser}">
    <p th:text="'User role is ' + ( ( == 'ADMIN') ? 'ADMIN' : 'NOT ADMIN')"></p>
   	</div>
</nav> -->

		<div class="container">
		
		
		<!-- start here -->
		
		
		<div class="page-header" id="banner">
	        <div class="row">
	          <div class="col-lg-8 col-md-7 col-sm-6">
	           	<h2>Hitonchi Tsushima</h2>
	            <p class="lead">ひとんち対馬</p>
	          </div>
	          <div class="col-lg-4 col-md-5 col-sm-6">
	            
	          </div>
	        </div>
	        <div class="row">
	        	<div class="col-lg-6">
					<h2>Log in</h2>
					
					<p>You can use: demo@localhost / demo</p>
					
					<form role="form" action="/login" method="post">
					    
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					
					    <div>
					        <label for="email"><font color="black">Email address</font></label>
					        <input type="email" name="email" id="email" />
					    </div>
					    <div>
					        <label for="password"><font color="black">Password</font></label>
					        <input type="password" name="password" id="password"/>
					    </div>
					    <div>
					        <label for="remember-me"><font color="black">Remember me</font></label>
					        <input type="checkbox" name="remember-me" id="remember-me"/>
					    </div>
					    <button type="submit"><font color="black">Sign in</font></button>
					    
				<!-- <p>The email or password you have entered is invalid, try again.</p> -->
					</form>
				</div>
		    </div>
	    </div>
	    
	    
	    
		



</div>

    <div id="show-footer">
      <footer class="footer" id="footer">
            <div class="container">      
                <div class="col-lg-12">
                    <p class="white">つしまジャパン株式会社 〒817-0023 長崎県対馬市厳原町田渕860-1 @TSUSHIMA JAPAN.INC</p>
                    <p><font color="white">Copyright © 2014 つしまジャパン株式会社 All Rights Reserved.</font></p>
                </div>
            </div>
      </footer>
    </div>



    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootswatch.js"></script>
    <script src="./js/myjs.js"></script>  
    <script src="./duima/bootstrap-datepicker.js"></script>    
    <script src="./duima/bootstrap-datepicker.ja.min.js"></script>  
</body>
</html>