<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../../img/logo-icon.png" />
<link rel="stylesheet" href="../../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../../css/custom.min.css" />
<link rel="stylesheet" href="../../css/tsushima.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css" />
<script src="../../js/jquery-1.10.2.js"></script>
<style>
#footer {
	background-color: red;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	margin-bottom: 0px;
}

body {
	margin-bottom: 100px;
}
</style>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container" style="margin-top: 100px;">

		<div class="page-header" id="banner">
			<div class="row row-centered">
				<div class="col-xs-6 col-centered">

					<form class="form-horizontal" action="/login" method="post">
						<fieldset>
							<legend>Log in</legend>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
							<div class="form-group">
								<label for="inputEmail" class="col-lg-2 control-label"><font
									color="black">Email</font></label>
								<div class="col-lg-10">
									<input type="text" class="form-control" name="email"
										id="inputEmail" placeholder="Email" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-lg-2 control-label"><font
									color="black">Password</font></label>
								<div class="col-lg-10">
									<input type="password" class="form-control" name="password"
										id="inputPassword" placeholder="Password" />
									<div class="checkbox">
										<label> <input type="checkbox" name="remember-me"
											id="remember-me"><font color="black">Remember
												me</font></input>
										</label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="reset" class="btn btn-default">Cancel</button>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div id="footer" th:replace="fragments/footer-admin :: footer-admin">&nbsp;</div>

	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/bootswatch.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/myjs.js"></script>
</body>
</html>
