<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Experience New</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../../img/logo-icon.png" />
<link rel="stylesheet" href="../../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../../css/custom.min.css" />
<link rel="stylesheet" href="../../css/tsushima.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css" />
<script src="../../js/jquery-1.10.2.js"></script>
<style>
#footer {
	background-color: red;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	margin-bottom: 0px;
}

body {
	margin-bottom: 500px;
}
</style>

</head>
<body>
	<div th:replace="fragments/header-admin :: header-admin">&nbsp;</div>

	<div class="container" style="margin-top:100px;">
		<div class="page-header">
			<h1>New Experience</h1>
		</div>
		<div class="row">

			<form class="form-horizontal" action="#"
				th:action="@{/experience/new}" th:object="${experience}"
				method="post">
				<fieldset>
					<div class="form-group">
						<!-- <label for="inputId" class="col-lg-2 control-label">ID</label> -->
						<div class="col-lg-10">
							<input type="hidden" class="form-control" id="inputId"
								placeholder="id" th:field="*{id}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName"
								placeholder="Name" th:field="*{name}" />
						</div>
					</div>
					<div class="form-group">
						<label for="textArea" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="3" id="textArea"
								th:field="*{description}"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="inputLocation" class="col-lg-2 control-label">Location</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputLocation"
								placeholder="Location" th:field="*{location}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputCourse" class="col-lg-2 control-label">Course</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputCourse"
								placeholder="Course" th:field="*{course}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputPickup" class="col-lg-2 control-label">Pickup</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputPickup"
								placeholder="Pickup" th:field="*{pickup}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputCategory" class="col-lg-2 control-label">Category</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputCategory"
								placeholder="Category" th:field="*{category}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputAdult" class="col-lg-2 control-label">Adult</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputAdult"
								placeholder="Adult" th:field="*{adult}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputTeenager" class="col-lg-2 control-label">Teenager</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputTeenager"
								placeholder="Teenager" th:field="*{teenager}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputInfant" class="col-lg-2 control-label">Infant</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputInfant"
								placeholder="Infant" th:field="*{infant}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputLatitude" class="col-lg-2 control-label">Latitude</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputLatitude"
								placeholder="Latitude" th:field="*{latitude}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputLongitude" class="col-lg-2 control-label">Longitude</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputLongitude"
								placeholder="Longitude" th:field="*{longitude}" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputFk" class="col-lg-2 control-label">Landlord</label>
						<div class="col-lg-10">
							<select th:field="*{fk}">
								<option th:each="landlord : ${landlords}"
									th:value="${landlord.id}" th:text="${landlord.name}"></option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputAdultPrice" class="col-lg-2 control-label">Adult Price</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputAdultPrice"
								placeholder="Adult Price" th:field="*{adultprice}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="reset" class="btn btn-default">
								<a href="/experience/">Cancel</a>
							</button>
							<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- FOOTER -->
	<div id="footer" th:replace="fragments/footer-admin :: footer-admin">&nbsp;</div>

	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/bootswatch.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/myjs.js"></script>
</body>
</html>