<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Food New</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../../img/logo-icon.png" />
<link rel="stylesheet" href="../../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../../css/custom.min.css" />
<link rel="stylesheet" href="../../css/tsushima.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css" />
<script src="../../js/jquery-1.10.2.js"></script>
<style>
#footer {
	background-color: red;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	margin-bottom: 0px;
}

body {
	margin-bottom: 100px;
}
</style>

</head>
<body>
	<div th:replace="fragments/header-admin :: header-admin">&nbsp;</div>

	<div class="container" style="margin-top: 100px;">
		<div class="page-header">
			<h1>New Landlord</h1>
		</div>
		<div class="row">
			<form class="form-horizontal" action="#" th:action="@{/landlord/new}"
				th:object="${landlord}" method="post">
				<fieldset>
					<div class="form-group">
						<!-- <label for="inputId" class="col-lg-2 control-label">ID</label> -->
						<div class="col-lg-10">
							<input type="hidden" class="form-control" id="inputId"
								placeholder="id" th:field="*{id}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName"
								placeholder="Landlord Name" th:field="*{name}" />
						</div>
					</div>
					<div class="form-group">
						<label for="textArea" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="3" id="textArea"
								th:field="*{description}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="inputLocation" class="col-lg-2 control-label">Location</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputLocation"
								placeholder="Landlord Location" th:field="*{location}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputEmail"
								placeholder="Landlord Email" th:field="*{email}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputLocation" class="col-lg-2 control-label">Lodge
							Number</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputLodge"
								placeholder="Lodge Number" th:field="*{lodgenumber}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputExperience" class="col-lg-2 control-label">Experience
							Number</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputExperience"
								placeholder="Experience Number" th:field="*{experiencenumber}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="reset" class="btn btn-default">
								<a href="/landlord/">Cancel</a>
							</button>
							<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- FOOTER -->
	<div id="footer" th:replace="fragments/footer-admin :: footer-admin">&nbsp;</div>

	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/bootswatch.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/myjs.js"></script>
</body>
</html>