<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Lodge Update</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../../img/logo-icon.png" />
<link rel="stylesheet" href="../../css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../../css/custom.min.css" />
<link rel="stylesheet" href="../../css/tsushima.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css" />
<script src="../../js/jquery-1.10.2.js"></script>
<style>
#footer {
	background-color: red;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	margin-bottom: 0px;
}

body {
	margin-bottom: 1500px;
}
</style>
<script type="text/javascript">
	function updateImageDefault(imageId) {
		var form = $("#foodEatenForm-" + imageId);
		var action = $("#action-" + imageId);
		$(action).val("update");
		$(form).submit();
	}

	function removeImageDefault(imageId) {
		var form = $("#foodEatenForm-" + imageId);
		var action = $("#action-" + imageId);
		$(action).val("false");
		$(form).submit();
	}

	function deleteImage(imageId) {
		if (confirm('Are you sure you want to delete this image?')) {
			var form = $("#foodEatenForm-" + imageId);
			var action = $("#action-" + imageId);
			$(action).val("delete");
			$(form).submit();
		}
	}

	function updateFood(foodId) {
		var form = $("#foodPriceForm-" + foodId);
		var action = $("#action-" + foodId);
		$(action).val("update");
		$(form).submit();
	}

	function deleteFood(foodId) {
		if (confirm('Are you sure you want to delete this food price?')) {
			var form = $("#foodPriceForm-" + foodId);
			var action = $("#action-" + foodId);
			$(action).val("delete");
			$(form).submit();
		}
	}

	function updateCalendar(calendarId) {
		var form = $("#calendarForm-" + calendarId);
		var action = $("#action-" + calendarId);
		$(action).val("update");
		$(form).submit();
	}

	function deleteCalendar(calendarId) {
		if (confirm('Are you sure you want to delete this calendar entry?')) {
			var form = $("#calendarForm-" + calendarId);
			var action = $("#action-" + calendarId);
			$(action).val("delete");
			$(form).submit();
		}
	}
</script>
<style>
img {
	max-width: 100%;
	max-height: 100%;
}
</style>

</head>
<body>
	<div th:replace="fragments/header-admin :: header-admin">&nbsp;</div>

	<div class="container" style="margin-top: 100px;">

		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="tables">Edit Lodge</h1>
					<div class="row">
						<div class="col-lg-12">
							<h4>
								<a href="/lodge/" class="pull-right">Back</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">

						<form class="form-horizontal" action="#"
							th:action="@{/lodge/updated}" th:object="${lodge}" method="post"
							accept-charset="UTF-8">
							<fieldset>
								<div class="form-group">
									<!-- <label for="inputId" class="col-lg-2 control-label">ID</label> -->
									<div class="col-lg-10">
										<input type="hidden" class="form-control" id="inputId"
											placeholder="id" th:field="*{id}" />
									</div>
								</div>
								<div class="form-group">
									<label for="inputName" class="col-lg-2 control-label">Name</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputName"
											placeholder="Lodge Name" th:field="*{name}" />
									</div>
								</div>
								<div class="form-group">
									<label for="textArea" class="col-lg-2 control-label">Description</label>
									<div class="col-lg-10">
										<textarea class="form-control" rows="3" id="textArea"
											th:field="*{description}"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label for="inputLocation" class="col-lg-2 control-label">Location</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputLocation"
											placeholder="Lodge Location" th:field="*{location}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputPrice" class="col-lg-2 control-label">Price</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputPrice"
											placeholder="Lodge Price" th:field="*{price}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputFood" class="col-lg-2 control-label">Food</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputFood"
											placeholder="Lodge Food" th:field="*{food}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputCapacity" class="col-lg-2 control-label">Capacity</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputCapacity"
											placeholder="Lodge Capacity" th:field="*{capacity}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputEquipment" class="col-lg-2 control-label">Equipment</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputEquipment"
											placeholder="Lodge Equipment" th:field="*{equipment}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputAmenity" class="col-lg-2 control-label">Amenity</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputAmenity"
											placeholder="Lodge Amenity" th:field="*{amenity}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputTraffic" class="col-lg-2 control-label">Traffic</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputTraffic"
											placeholder="Lodge Traffic" th:field="*{traffic}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputPickup" class="col-lg-2 control-label">Pickup</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputPickup"
											placeholder="Lodge Pickup" th:field="*{pickup}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputAdult" class="col-lg-2 control-label">Adult</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputAdult"
											placeholder="Lodge Adult" th:field="*{adult}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputTeenager" class="col-lg-2 control-label">Teenager</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputTeenager"
											placeholder="Lodge Teenager" th:field="*{teenager}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputInfant" class="col-lg-2 control-label">Infant</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputInfant"
											placeholder="Lodge Infant" th:field="*{infant}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputLatitude" class="col-lg-2 control-label">Latitude</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputLatitude"
											placeholder="Latitude" th:field="*{latitude}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputLongitude" class="col-lg-2 control-label">Longitude</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="inputLongitude"
											placeholder="Longitude" th:field="*{longitude}" />
									</div>
								</div>

								<div class="form-group">
									<label for="inputFk" class="col-lg-2 control-label">Landlord</label>
									<div class="col-lg-10">
										<!-- <input type="text" class="form-control" id="inputFk" placeholder="Landlord" th:field="*{category}"/> -->

										<select th:field="*{fk}">
											<option th:each="landlord : ${landlords}"
												th:value="${landlord.id}" th:text="${landlord.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<button type="reset" class="btn btn-default">
											<a href="/lodge/">Cancel</a>
										</button>
										<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="galleries">Edit Gallery</h3>
					<div class="row">
						<div class="col-lg-12">
							<h4>
								<a th:href="@{../image/(fk=${fk}, category=lodge)}"
									class="pull-right">Add image</a>
							</h4>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-12">

						<div th:each="gallery : ${gallerys}">
							<div class="col-sm-6 col-md-4">
								<form th:id="'foodEatenForm-' + ${gallery.id}" action="./image">
									<input type="hidden" name="id" th:value="${gallery.id}" /> <input
										type="hidden" th:id="'action-' + ${gallery.id}" name="action"
										value="update" />

									<div>
										<img th:src="@{/image/view(id=${gallery.id})}" />
									</div>

									<div>
										<p>
											Default image: <strong th:text="${gallery.active}"></strong>
											<a href="#"
												th:onclick="'removeImageDefault(\'' + ${gallery.id} + '\');'"
												class="pull-right">Remove default</a>
										</p>
										<p>
											<a href="#"
												th:onclick="'deleteImage(\'' + ${gallery.id} + '\');'">Delete</a>
											<a href="#"
												th:onclick="'updateImageDefault(\'' + ${gallery.id} + '\');'"
												class="pull-right">Set default</a>
										</p>
									</div>
								</form>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="galleries">Food price</h3>
					<div class="row">
						<div class="col-lg-12">
							<h4>
								<a th:href="@{../food/new/(fk=${fk}, category=lodge)}"
									class="pull-right">Add food price</a>
							</h4>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-12">

						<table class="table table-striped table-hover ">
							<thead>
								<tr>
									<td>Title</td>
									<td>Adult</td>
									<td>Teenager</td>
									<td>Action</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="food : ${foods}">
									<form th:id="'foodPriceForm-' + ${food.id}"
										action="../food/update">
										<input type="hidden" name="id" th:value="${food.id}" /> <input
											type="hidden" th:id="'action-' + ${food.id}" name="action"
											value="update" />

										<td th:text="${food.title}"></td>
										<td th:text="${food.adult}"></td>
										<td th:text="${food.teenager}"></td>
										<td><a href="#"
											th:onclick="'deleteFood(\'' + ${food.id} + '\');'">Delete</a>
											<!-- <a 
									th:href="@{./delete/(id=${food.id})}"
										>Delete food</a> --> <a href="#"
											th:onclick="'updateFood(\'' + ${food.id} + '\');'">Update</a>
										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="galleries">Calendar closed date</h3>
					<div class="row">
						<div class="col-lg-12">
							<h4>
								<a th:href="@{../calendar/new/(fk=${fk}, category=lodge)}"
									class="pull-right">Add closed date</a>
							</h4>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-12">

						<table class="table table-striped table-hover ">
							<thead>
								<tr>
									<td>Closed</td>
									<td>Action</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="calendar : ${calendars}">
									<form th:id="'calendarForm-' + ${calendar.id}"
										action="../calendar/update">
										<input type="hidden" name="id" th:value="${calendar.id}" /> <input
											type="hidden" th:id="'action-' + ${calendar.id}"
											name="action" value="update" />

										<td th:text="${calendar.closeddate}"></td>
										<td><a href="#"
											th:onclick="'deleteCalendar(\'' + ${calendar.id} + '\');'">Delete</a>

											<a href="#"
											th:onclick="'updateCalendar(\'' + ${calendar.id} + '\');'">Update</a>
										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div id="footer" th:replace="fragments/footer-admin :: footer-admin">&nbsp;</div>

	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/bootswatch.js"></script>
	<script src="../../js/jquery-ui.js"></script>
	<script src="../../js/myjs.js"></script>
</body>
</html>


